---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const A = "https://www.amazon.ca/dp/";
const P = "/images/portadas-web/";
const libros = [
	// 2025-2026
	{ title: "El discurso de José Martí", author: "Roberto Manzano", year: 2026, genre: "Poesía", amazonUrl: A+"2925446604", cover: P+"EL DISCURSO DE JOSÉ MARTÍ-Roberto Manzano-cubierta.jpg" },
	{ title: "Germen", author: "Grechent Ledesma Torres", year: 2025, genre: "Poesía", amazonUrl: A+"2925446949", cover: P+"GERMEN-Grechent Ledesma Torres-cubierta.jpg" },
	{ title: "Cuentos para Bárbara", author: "Reyna Esperanza Cruz", year: 2025, genre: "Infantil", amazonUrl: A+"2925446329", cover: P+"CUENTOS PARA BÁRBARA-Reyna Esperanza Cruz-cubierta.jpg" },
	{ title: "Luciérnagas en el puente", author: "Martha Rosa Fernández", year: 2025, genre: "Poesía", amazonUrl: A+"B0G5N9JXQ8", cover: P+"LUCIÉRNAGAS EN EL PUENTE-Martha Rosa Fernández-cubierta.jpg" },
	{ title: "Sombras del silencio", author: "Irasema Cruz", year: 2025, genre: "Poesía", amazonUrl: A+"2925446825", cover: P+"SOMBRAS DEL SILENCIO-Irasema Cruz-cubierta.jpg" },
	{ title: "Clásicas y contemporáneos", author: "Alondra Badano", year: 2025, genre: "Poesía", amazonUrl: A+"B0FVMVK8BC", cover: P+"CLÁSICAS Y CONTEMPORÁNEOS-Alondra Badano-cubierta.jpg" },
	{ title: "Central Patria", author: "Ronel González Sánchez", year: 2025, genre: "Poesía", amazonUrl: A+"B0FWZHBXXP", cover: P+"CENTRAL  PATRIA-Ronel González-cubierta.jpg" },
	{ title: "(E)videncias", author: "Ivelisse Machín Torres", year: 2025, genre: "Poesía", amazonUrl: A+"292544654X", cover: P+"(E)VIDENCIAS-Ivelisse Machín Torres-cubierta.jpg" },
	{ title: "El libro de todas las lunas", author: "Lidia Meriño", year: 2025, genre: "Infantil", amazonUrl: A+"2925446744", cover: P+"EL LIBRO DE TODAS LAS LUNAS-Lidia Meriño-cubierta.jpg" },
	{ title: "Angustia del cernidor", author: "Jesús Arencibia", year: 2025, genre: "Poesía", amazonUrl: A+"B0FVLW3T1M", cover: P+"ANGUSTIA DEL CERNIDOR-Jesús Arencibia Lorenzo-cubierta.jpg" },
	{ title: "Presagios", author: "Raudel Sosa Pérez", year: 2025, genre: "Poesía", amazonUrl: A+"B0FVDZYCF5", cover: P+"PRESAGIOS-Raudel Sosa Pérez-cubierta.jpg" },
	{ title: "Otra vez perdida", author: "Yaniry Fariñas García", year: 2025, genre: "Poesía", amazonUrl: A+"B0FVF1FS7H", cover: P+"OTRA VEZ PERDIDA-Yaniry Fariñas García-cubierta.jpg" },
	{ title: "El libro de las mareas", author: "Reyna Cruz", year: 2025, genre: "Poesía", amazonUrl: A+"2925446981", cover: P+"EL LIBRO DE LAS MAREAS-Reyna Esperanza Cruz-cubierta.jpg" },
	{ title: "Mujeres rotas", author: "Ana Luna", year: 2025, genre: "Narrativa", amazonUrl: A+"292544640X", cover: P+"MUJERES ROTAS-Ana Luna-cubierta.jpg" },
	{ title: "Los ojos del silencio", author: "Pepe Sánchez", year: 2025, genre: "Poesía", amazonUrl: A+"2925446663", cover: P+"LOS OJOS DEL SILENCIO-Pepe Sánchez-cubierta.jpg" },
	{ title: "La melancolía del samurái", author: "Rafael Carballosa Batista", year: 2025, genre: "Poesía", amazonUrl: A+"2925446868", cover: P+"LA MELANCOLÍA DEL SAMURÁI-Rafael Carballosa Batista-cubierta.jpg" },
	{ title: "Carpincho y otros cuentos", author: "Milvia Patiño", year: 2025, genre: "Infantil", amazonUrl: A+"2925446906", cover: P+"CARPINCHO Y OTROS CUENTOS-Milvia Patiño-cubierta.jpg" },
	{ title: "The Talking Stones", author: "Camila Reimers", year: 2025, genre: "Infantil", amazonUrl: A+"2925446884", cover: P+"The Talking Stones-Camila Reimers-cubierta.jpg" },
	{ title: "aspersores", author: "Luis Yuseff", year: 2025, genre: "Poesía", amazonUrl: A+"2925446760", cover: P+"aspersores-Luis Yuseff-cubierta.jpg" },
	{ title: "Dolor de la resurrección", author: "Luis Yuseff", year: 2025, genre: "Poesía", amazonUrl: A+"2925446787", cover: P+"DOLOR DE LA RESURRECCIÓN-Luis Yuseff-cubierta.jpg" },
	{ title: "Sonetos del bosque", author: "Roger Blanco Morciego", year: 2025, genre: "Poesía", amazonUrl: A+"2925446841", cover: P+"SONETOS DEL BOSQUE-Roger Blanco Morciego-cubierta.jpg" },
	{ title: "Azules del cianómetro", author: "Laura Rojo", year: 2025, genre: "Poesía", amazonUrl: A+"2925446728", cover: P+"AZULES DEL CIANÓMETRO-Laura Rojo-cubierta.jpg" },
	{ title: "El último castrado", author: "Eduardo Pino", year: 2025, genre: "Poesía", amazonUrl: A+"2925446566", cover: P+"EL ÚLTIMO CASTRADO-Eduardo Pino-cubierta.jpg" },
	{ title: "Fogatas en el cielo", author: "Alcides Fuentes", year: 2025, genre: "Poesía", amazonUrl: A+"292544668X", cover: P+"FOGATAS EN EL CIELO-Alcides Fuentes-cubierta.jpg" },
	{ title: "Es raro ser yo", author: "Carlos Ettiel", year: 2025, genre: "Poesía", amazonUrl: A+"2925446922", cover: P+"ES RARO SER YO-Carlos Ettiel-cubierta.jpg" },
	{ title: "Los peces distraídos", author: "Jorge Luis Peña", year: 2025, genre: "Infantil", amazonUrl: A+"2925446701", cover: P+"LOS PECES DISTRAÍDOS-Jorge Luis Peña-cubierta.jpg" },
	{ title: "Declaración de las piedras", author: "Jorge Gufer", year: 2025, genre: "Poesía", amazonUrl: A+"2925446965", cover: P+"DECLARACIÓN DE LAS PIEDRAS-cubierta.jpg" },
	// 2024
	{ title: "Los guijarros parlantes", author: "Camila Reimers", year: 2024, genre: "Narrativa", amazonUrl: A+"2925446388", cover: P+"LOS GUIJARROS PARLANTES-Camila Reimers-cubierta.jpg" },
	{ title: "Fugacidad es todo lo que tengo", author: "Lídice Megla", year: 2024, genre: "Poesía", amazonUrl: A+"2925446426", cover: P+"FUGACIDAD ES TODO LO QUE TENGO-Lídice Megla-cubierta.jpg" },
	{ title: "El libro del olvido", author: "Ada Zayas Bazán", year: 2024, genre: "Poesía", amazonUrl: A+"2925446469", cover: P+"EL LIBRO DEL OLVIDO-Ada Zayas Bazán-cubierta.jpg" },
	{ title: "Peripecias", author: "Liliana Pinedo González", year: 2024, genre: "Poesía", amazonUrl: A+"2925446485", cover: P+"PERIPECIAS-Liliana Pinedo González-cubierta.jpg" },
	{ title: "Un instante para ti", author: "Milvia Patiño", year: 2024, genre: "Poesía", amazonUrl: A+"2925446647", cover: P+"UN INSTANTE PARA TI-Milvia Patiño-cubierta.jpg" },
	{ title: "Tablillas de barro III", author: "Roberto Manzano", year: 2024, genre: "Poesía", amazonUrl: A+"2925446442", cover: P+"TABLILLAS DE BARRO III-Roberto Manzano-cubierta.jpg" },
	{ title: "Los estribos profundos", author: "Roberto Manzano", year: 2024, genre: "Poesía", amazonUrl: A+"2925446620", cover: P+"LOS ESTRIBOS PROFUNDOS-Roberto Manzano-cubierta.jpg" },
	{ title: "Intersticios", author: "Liliana Pinedo González", year: 2024, genre: "Poesía", amazonUrl: A+"2925446264", cover: P+"INTERSTICIOS-Liliana Pinedo González-cubierta.jpg" },
	{ title: "El río de la vida", author: "Reyna Cruz", year: 2024, genre: "Poesía", amazonUrl: A+"2925446361", cover: P+"EL RÍO DE LA VIDA-Reyna Esperanza Cruz-cubierta.jpg" },
	{ title: "Romanza de los montes florecidos", author: "Reyna Cruz", year: 2024, genre: "Poesía", amazonUrl: A+"2925446051", cover: P+"ROMANZA DE LOS MONTES FLORECIDOS-Reyna Esperanza Cruz y Roberto Manzano-cubierta.jpg" },
	{ title: "Las extrañas frutas", author: "Reyna Cruz", year: 2024, genre: "Poesía", amazonUrl: A+"2925446221", cover: P+"LAS EXTRAÑAS FRUTAS-Reyna Esperanza Cruz-cubierta.jpg" },
	{ title: "El discurso de la Madre Tierra", author: "Roberto Manzano", year: 2024, genre: "Poesía", amazonUrl: A+"2925446345", cover: P+"EL DISCURSO DE LA MADRE TIERRA-Roberto Manzano-cubierta.jpg" },
	{ title: "Mutatis Mutandis", author: "Aura González Beitia", year: 2024, genre: "Poesía", amazonUrl: A+"2925446248", cover: P+"MUTATIS MUTANDIS-Aura América González Beitia-cubierta.jpg" },
	{ title: "La humana sombra del pez", author: "Tomás Escobar", year: 2024, genre: "Poesía", amazonUrl: A+"2925446183", cover: P+"LA HUMANA SOMBRA DEL PEZ-Tomás Escobar-cubierta.jpg" },
	{ title: "Saldar la deuda", author: "Carmen Amelia del Cristo", year: 2024, genre: "Poesía", amazonUrl: A+"2925446205", cover: P+"SALDAR LA DEUDA-Carmen Amelia del Cristo-cubierta.jpg" },
	{ title: "Un país con dos reinas", author: "Reyna Esperanza Cruz", year: 2024, genre: "Infantil", amazonUrl: A+"2925446302", cover: P+"UN PAÍS CON DOS REINAS-Reyna Esperanza Cruz-cubierta.jpg" },
	{ title: "El reloj y la sombra", author: "Margarita Padrón", year: 2024, genre: "Poesía", amazonUrl: A+"2925446019", cover: P+"EL RELOJ Y LA SOMBRA-Margarita Padrón-cubierta.jpg" },
	{ title: "La flecha y el infinito", author: "Roberto Manzano", year: 2024, genre: "Poesía", amazonUrl: A+"2925446140", cover: P+"LA FLECHA Y EL INFINITO-Roberto Manzano-cubierta.jpg" },
	{ title: "Pasando por un trillo", author: "Roberto Manzano", year: 2024, genre: "Infantil", amazonUrl: A+"2925446280", cover: P+"PASANDO POR UN TRILLO-Roberto Manzano-cubierta.jpg" },
	{ title: "Eurekíada", author: "Roberto Manzano", year: 2024, genre: "Poesía", amazonUrl: A+"2925446078", cover: P+"EUREKÍADA-Roberto Manzano-cubierta.jpg" },
	{ title: "Esperando la ventisca", author: "Alondra Badano", year: 2024, genre: "Poesía", amazonUrl: A+"2925446167", cover: P+"ESPERANDO LA VENTISCA-Alondra Badano-cubierta.jpg" },
	{ title: "Con grandes ojos de animal desnudo", author: "Moisés Pascual", year: 2024, genre: "Poesía", amazonUrl: A+"2925321623", cover: P+"CON GRANDES OJOS DE ANIMAL DESNUDO-Moisés Pascual-cubierta.jpg" },
	{ title: "Las coplas del juntador", author: "Roberto Manzano", year: 2024, genre: "Poesía", amazonUrl: A+"2925321453", cover: P+"LAS COPLAS DEL JUNTADOR-Roberto Manzano-cubierta.jpg" },
	{ title: "La sílaba erótica", author: "Déborah Wizel", year: 2024, genre: "Poesía", amazonUrl: A+"2925321917", cover: P+"LA SÍLABA ERÓTICA-Déborah Wizel-cubierta.jpg" },
	{ title: "Nueve enigmas y un laudo", author: "Liliana Pinedo González", year: 2024, genre: "Poesía", amazonUrl: A+"2925446035", cover: P+"NUEVE ENIGMAS Y UN LAUDO-Liliana Pinedo González-cubierta.jpg" },
	{ title: "Policromía", author: "Aura González Beitia", year: 2024, genre: "Poesía", amazonUrl: A+"2925321992", cover: P+"POLICROMÍA-Aura América González Beitia-cubierta.jpg" },
	{ title: "Totalidad del aliento", author: "Valentín García Fernández", year: 2024, genre: "Poesía", amazonUrl: A+"2925321933", cover: P+"TOTALIDAD DEL ALIENTO-Valentín García Fernández-cubierta.jpg" },
	{ title: "Nudos de brea", author: "Ana Anguizola Núñez", year: 2024, genre: "Poesía", amazonUrl: A+"2925446124", cover: P+"NUDOS DE BREA-Ana Cristina Anguizola Núñez-cubierta.jpg" },
	{ title: "Tablillas de barro II", author: "Roberto Manzano", year: 2024, genre: "Poesía", amazonUrl: A+"292532181X", cover: P+"TABLILLAS DE BARRO II-cubierta.jpg" },
	{ title: "Tablillas de barro 1", author: "Roberto Manzano", year: 2024, genre: "Poesía", amazonUrl: A+"2925321798", cover: P+"TABLILLAS DE BARRO I-cubierta.jpg" },
	{ title: "El fulgor de las páginas", author: "Cristálida Ediciones", year: 2024, genre: "Poesía", amazonUrl: "", cover: P+"EL FULGOR DE LAS PÁGINAS-Cristálida Ediciones-cubierta.png" },
	// 2023
	{ title: "Frascuelo, el perro fiero", author: "Guillermo Núñez Llana", year: 2023, genre: "Infantil", amazonUrl: A+"2925321208", cover: P+"FRASCUELO, EL PERRO FIERO-Guillermo Núñez-cubierta.jpg" },
	{ title: "Canto a la sabana", author: "Roberto Manzano", year: 2023, genre: "Poesía", amazonUrl: A+"2925321038", cover: P+"CANTO A LA SABANA-Roberto Manzano-cubierta digital.jpg" },
	{ title: "Synergos", author: "Roberto Manzano", year: 2023, genre: "Poesía", amazonUrl: A+"2925321739", cover: P+"SYNERGOS-Roberto Manzano-cubierta.jpg" },
	{ title: "El libro de los discursos", author: "Roberto Manzano", year: 2023, genre: "Poesía", amazonUrl: A+"2925321755", cover: P+"EL LIBRO DE LOS DISCURSOS-Roberto Manzano-cubierta.jpg" },
	{ title: "Ergonomía artística", author: "Roberto Manzano", year: 2023, genre: "Poesía", amazonUrl: A+"2925321712", cover: P+"ERGONOMÍA ARTÍSTICA-Roberto Manzano-cubierta.jpg" },
	{ title: "Juegos de tierra y mar", author: "Reyna Esperanza Cruz", year: 2023, genre: "Infantil", amazonUrl: A+"2925321410", cover: P+"JUEGOS DE TIERRA Y MAR-Reyna Esperanza Cruz-cubierta.jpg" },
	{ title: "Reminiscencias", author: "Ivelisse Machín Torres", year: 2023, genre: "Poesía", amazonUrl: A+"2925321275", cover: P+"REMINISCENCIAS-Ivelisse Machín Torres-cubierta del digital.jpg" },
	{ title: "Espacios rotos", author: "Lisandra Navas", year: 2023, genre: "Poesía", amazonUrl: A+"2925321542", cover: P+"ESPACIOS ROTOS-Lisandra Navas-cubierta.jpg" },
	{ title: "Contar los golpes", author: "Raúl Aguiar", year: 2023, genre: "Poesía", amazonUrl: A+"2925321569", cover: P+"CONTAR LOS GOLPES-Raúl Aguiar-cubierta.jpg" },
	{ title: "Sentada sobre el miedo de correr", author: "Reyna Esperanza Cruz", year: 2022, genre: "Poesía", amazonUrl: A+"2925321070", cover: P+"SENTADA SOBRE EL MIEDO DE CORRER-Reyna Esperanza Cruz-cubierta del digital3.jpg" },
	{ title: "Sermón de pájaros", author: "Adalgiza Charria Quinte", year: 2023, genre: "Poesía", amazonUrl: A+"292532147X", cover: P+"SERMÓN DE PÁJAROS-Adalgiza Charría-cubierta.jpg" },
	{ title: "Una marea más alta", author: "Mar Silva", year: 2023, genre: "Poesía", amazonUrl: A+"B0CKK6T2RJ", cover: P+"UNA MAREA MÁS ALTA-Mar Silva-cubierta.jpg" },
	{ title: "Chroniques du quotidien", author: "Ana Luna", year: 2023, genre: "Narrativa", amazonUrl: A+"2925321496", cover: P+"CHRONIQUES DU QUOTIDIEN-Ana Luna-cubierta.jpg" },
	{ title: "Apasanka", author: "Camila Reimers", year: 2023, genre: "Infantil", amazonUrl: A+"2925321879", cover: P+"APASANKA-Camila Reimers-cubierta en español.jpg" },
	{ title: "Decantaciones", author: "Herbert Toranzo", year: 2023, genre: "Poesía", amazonUrl: A+"2925321526", cover: P+"DECANTACIONES-Herbert Toranzo-cubierta.jpg" },
	{ title: "Efectos secundarios", author: "Leymen Pérez", year: 2023, genre: "Poesía", amazonUrl: A+"2925321313", cover: P+"EFECTOS SECUNDARIOS-Leymen Pérez-cubierta.jpg" },
	{ title: "Alforja de la vida", author: "Zoila Portuondo Guerra", year: 2023, genre: "Poesía", amazonUrl: A+"292532164X", cover: P+"ALFORJA DE LA VIDA-Zoila Portuondo Guerra-cubierta.jpg" },
	{ title: "Lluvia con bestia y caracola", author: "Liudys Carmona Calaña", year: 2023, genre: "Poesía", amazonUrl: A+"2925321585", cover: P+"LLUVIA CON BESTIA Y CARACOLA-Liudys Carmona Calaña-cubierta del digital.jpg" },
	{ title: "La piedra de Sísifo", author: "Roberto Manzano", year: 2023, genre: "Poesía", amazonUrl: A+"2925321054", cover: P+"LA PIEDRA DE SÍSIFO-Roberto Manzano-cubierta.jpg" },
	{ title: "Estación ajena", author: "Aurora de Celia", year: 2023, genre: "Poesía", amazonUrl: A+"2925321607", cover: P+"ESTACIÓN AJENA-Aurora de Celia-cubierta.jpg" },
	{ title: "Los puentes de la noche", author: "María Iluminada González", year: 2023, genre: "Poesía", amazonUrl: A+"2925321291", cover: P+"LOS PUENTES DE LA NOCHE-María Iluminada González-cubierta.jpg" },
	{ title: "El libro de las extrañas densidades", author: "Lionel Valdivia Aguiar", year: 2023, genre: "Poesía", amazonUrl: A+"2925321372", cover: P+"EL LIBRO DE LAS EXTRAÑAS DENSIDADES-Lionel Valdivia Aguiar-cubierta.jpg" },
	{ title: "El trigo y la cizaña", author: "Jesús Lozada Guevara", year: 2023, genre: "Poesía", amazonUrl: A+"292532133X", cover: P+"EL TRIGO Y LA CIZAÑA-Jesús Lozada Guevara-cubierta.jpg" },
	{ title: "El racimo y la estrella", author: "Roberto Manzano", year: 2023, genre: "Poesía", amazonUrl: A+"2925321771", cover: P+"EL RACIMO Y LA ESTRELLA-cubierta.jpg" },
	{ title: "Prólogos no solicitados", author: "Daniel Céspedes Góngora", year: 2023, genre: "Poesía", amazonUrl: A+"2925321690", cover: P+"PRÓLOGOS NO SOLICITADOS-Daniel Céspedes Góngora-cubierta.jpg" },
	{ title: "Este hombre que me invento", author: "Benita López Peñate", year: 2023, genre: "Poesía", amazonUrl: A+"2925321674", cover: P+"ESTE HOMBRE QUE ME INVENTO-Benita López Peñate y Reyna Esperanza Cruz-cubierta.jpg" },
	{ title: "Adèla et le pouvoir", author: "Ana Luna", year: 2023, genre: "Narrativa", amazonUrl: A+"2925321836", cover: P+"Adèla et le pouvoir-Ana Luna-cubierta.jpg" },
	{ title: "Valor de uso", author: "Ediel Pérez Noguera", year: 2023, genre: "Poesía", amazonUrl: A+"2925321240", cover: P+"VALOR DE USO-Ediel Pérez Noguera-cubierta del digital.jpg" },
	{ title: "Aturdido por la sal", author: "Efraín Riverón Argüelles", year: 2023, genre: "Poesía", amazonUrl: A+"2925321437", cover: P+"ATURDIDO POR LA SAL-Efraín Riverón Argüelles-cubierta.jpg" },
	{ title: "Evocación de la vida", author: "Arístides Vega Chapú", year: 2023, genre: "Poesía", amazonUrl: A+"2925321127", cover: P+"EVOCACIÓN DE LA VIDA-Arístides Vega Chapú-cubierta del digital.jpg" },
	{ title: "Poemas desobedientes", author: "David Robinson", year: 2023, genre: "Poesía", amazonUrl: A+"2925321976", cover: P+"POEMAS DESOBEDIENTES-David Robinson-cubierta.jpg" },
	{ title: "Eternizar el instante", author: "Roberto Manzano", year: 2023, genre: "Poesía", amazonUrl: A+"B0BV43M8TD", cover: P+"ETERNIZAR EL INSTANTE-Libro de notas-cubierta.jpg" },
	{ title: "Agenda perpetua", author: "Cristálida Ediciones", year: 2023, genre: "Poesía", amazonUrl: A+"B0C1JD7977", cover: P+"AGENDA PERPETUA-cubierta.jpg" },
	{ title: "Averías", author: "Armando López Carralero", year: 2023, genre: "Poesía", amazonUrl: A+"2925321186", cover: P+"AVERÍAS-cubierta.jpg" },
	{ title: "Palabra por decir", author: "Heriberto Machado Galiana", year: 2023, genre: "Poesía", amazonUrl: A+"2925321224", cover: P+"PALABRA POR DECIR-cubierta.jpg" },
	// 2022
	{ title: "(Des)equilibrios y una cuerda para asirse", author: "Yanelys Encinosa Cabrera", year: 2022, genre: "Poesía", amazonUrl: A+"2925321011", cover: P+"(DES)EQUILIBRIOS Y UNA CUERDA PARA ASIRSE-Yanelys Encinosa Cabrera-cubierta del digital.jpg" },
	{ title: "En plena oscilación de la balanza", author: "Reyna Esperanza Cruz", year: 2022, genre: "Poesía", amazonUrl: A+"B09SP1G52G", cover: P+"EN PLENA OSCILACIÓN DE LA BALANZA-Reyna Esperanza Cruz-cubierta.jpg" },
	{ title: "Siete golpes en la mesa", author: "Sergio García Zamora", year: 2022, genre: "Poesía", amazonUrl: A+"B0BHL2XFCY", cover: P+"SIETE GOLPES EN LA MESA-Sergio García Zamora-cubierta del digital.jpg" },
	{ title: "Nubes sobre un techo escarlata", author: "Julián Marcel", year: 2022, genre: "Poesía", amazonUrl: A+"B0BGNMQ4T9", cover: P+"NUBES SOBRE UN TECHO ESCARLATA-Julián Marcel-cubierta del digital.jpg" },
	{ title: "Sicomoro que arde como un astro", author: "Odalys Interián", year: 2022, genre: "Poesía", amazonUrl: A+"B0BFDZDVKJ", cover: P+"SICOMORO QUE ARDE COMO UN ASTRO-Odalys Interián-cubierta del digital.jpg" },
	{ title: "Caída libre", author: "Aldo Sánchez Herrera", year: 2022, genre: "Poesía", amazonUrl: A+"2925321100", cover: P+"CAÍDA LIBRE-Aldo Sánchez Herrera-cubierta.jpg" },
	{ title: "Edificio Cuba", author: "Arístides Vega Chapú", year: 2022, genre: "Poesía", amazonUrl: A+"2925321143", cover: P+"EDIFICIO CUBA-Arístides Vega Chapú-cubierta.jpg" },
	{ title: "Tu roto olor de feria encaminada", author: "Pedro Péglez González", year: 2022, genre: "Poesía", amazonUrl: A+"292532116X", cover: P+"TU ROTO OLOR DE FEIA ENCAMINADA-Pedro Péglez-cubierta del digital.jpg" },
	{ title: "Indagación de la sombra", author: "Yandrey Lay", year: 2022, genre: "Poesía", amazonUrl: A+"2925321003", cover: P+"INDAGACIÓN DE LA SOMBRA-Yandrey Lay-cubierta del digital.jpg" },
	{ title: "Música de fondo", author: "Carmen Amelia del Cristo", year: 2022, genre: "Poesía", amazonUrl: A+"B09ZDZT248", cover: P+"MÚSICA DE FONDO-Carmen Amelia del Cristo-cubierta.jpg" },
	{ title: "Sola como avara sobre su montaña de oro", author: "María Liliana Celorrio", year: 2022, genre: "Poesía", amazonUrl: A+"B09WLDQB2J", cover: P+"SOLA COMO AVARA SOBRE SU MONTAÑA DE ORO-María Liliana Celorrio-cubierta.jpg" },
	{ title: "La campana en el abismo", author: "Roberto Manzano", year: 2022, genre: "Poesía", amazonUrl: A+"B09SXGPC7V", cover: P+"LA CAMPANA EN EL ABISMO-Roberto Manzano-cubierta.jpg" },
	{ title: "El hombre cotidiano", author: "Roberto Manzano", year: 2022, genre: "Poesía", amazonUrl: A+"B09TDSFXY9", cover: P+"EL HOMBRE COTIDIANO-Roberto Manzano-cubierta.jpg" },
	{ title: "Rapsodia de vivir", author: "Roberto Manzano", year: 2022, genre: "Poesía", amazonUrl: A+"B09WLYKM3H", cover: P+"RAPSODIA DE VIVIR-Roberto Manzano-cubierta.jpg" },
	{ title: "Defensa de la poesía", author: "Roberto Manzano", year: 2022, genre: "Poesía", amazonUrl: A+"B09YVJRJTS", cover: P+"DEFENSA DE LA POESÍA-Roberto Manzano-cubierta.jpg" },
	{ title: "La hilacha y otras transfiguraciones", author: "Roberto Manzano", year: 2022, genre: "Poesía", amazonUrl: A+"B09TMYWDJ2", cover: P+"LA HILACHA Y OTRAS TRANSFIGURACIONES-Roberto Manzano-cubierta.jpg" },
	{ title: "Puerta al camino", author: "Roberto Manzano", year: 2022, genre: "Poesía", amazonUrl: A+"B09XRS5KX4", cover: P+"PUERTA AL CAMINO-Roberto Manzano-cubierta.jpg" },
	{ title: "Lo que escriben mis ojos", author: "Benita López Peñate", year: 2022, genre: "Poesía", amazonUrl: A+"B09XJQ9J52", cover: P+"LO QUE ESCRIBEN MIS OJOS-Benita López Peñate-cubierta.jpg" },
	{ title: "Crónicas domésticas", author: "Ana Núñez González", year: 2022, genre: "Narrativa", amazonUrl: A+"B09S5ZNBM8", cover: P+"CRÓNICAS DOMÉSTICAS-Ana Núñez González-cubierta.jpg" },
	{ title: "Canciones eslavas", author: "Jesús Lozada Guevara", year: 2022, genre: "Poesía", amazonUrl: A+"B09XZMCNGW", cover: P+"CANCIONES ESLAVAS-Jesús Lozada Guevara-cubierta.jpg" },
	// 2021
	{ title: "Pensamientos libres", author: "Roberto Manzano", year: 2021, genre: "Poesía", amazonUrl: A+"B09PKDLK2T", cover: P+"PENSAMIENTOS LIBRES-Roberto Manzano-cubierta.jpg" },
].sort((a, b) => b.year - a.year);

const generos = ["Todos", "Poesía", "Narrativa", "Ensayo", "Infantil"];
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title="Catálogo — Cristálida Ediciones" description="Todos los libros publicados por Cristálida Ediciones. Poesía, narrativa, ensayo e infantil." />
	</head>
	<body>
		<Header />
		<main>
			<div class="page-header">
				<h1>Catálogo</h1>
				<p class="lead">Todos los títulos publicados por Cristálida Ediciones.</p>
			</div>

			<!-- Filtro por género -->
			<div class="filtros" id="filtros">
				{generos.map(g => (
					<button class={`filtro-btn ${g === 'Todos' ? 'active' : ''}`} data-genre={g}>{g}</button>
				))}
			</div>

			<!-- Grid de libros -->
			<div class="books-grid" id="books-grid">
				{libros.map(libro => (
					<article
						class="book-card"
						data-genre={libro.genre}
						itemscope
						itemtype="https://schema.org/Book"
					>
						<meta itemprop="name" content={libro.title} />
						<meta itemprop="author" content={libro.author} />
						<meta itemprop="datePublished" content={String(libro.year)} />
						<meta itemprop="genre" content={libro.genre} />
						{libro.amazonUrl !== '#' && <link itemprop="url" href={libro.amazonUrl} />}

						<a href={libro.amazonUrl} target="_blank" rel="noopener" class="cover-link">
							{libro.cover
								? <img src={libro.cover} alt={`Portada de ${libro.title}`} class="book-cover" itemprop="image" loading="lazy" />
								: <div class="book-cover-placeholder"><span>{libro.title[0]}</span></div>
							}
						</a>
						<div class="book-info">
							<span class="book-genre">{libro.genre}</span>
							<h2 class="book-title" itemprop="name">{libro.title}</h2>
							<p class="book-author" itemprop="author">{libro.author}</p>
							<p class="book-year">{libro.year}</p>
							{libro.amazonUrl !== '#' && (
								<a href={libro.amazonUrl} target="_blank" rel="noopener" class="btn-amazon">
									Comprar en Amazon →
								</a>
							)}
						</div>
					</article>
				))}
			</div>
		</main>
		<Footer />
	</body>
</html>

<script>
	const btns = document.querySelectorAll<HTMLButtonElement>('.filtro-btn');
	const cards = document.querySelectorAll<HTMLElement>('.book-card');

	btns.forEach(btn => {
		btn.addEventListener('click', () => {
			btns.forEach(b => b.classList.remove('active'));
			btn.classList.add('active');
			const genre = btn.dataset.genre;
			cards.forEach(card => {
				const show = genre === 'Todos' || card.dataset.genre === genre;
				card.style.display = show ? '' : 'none';
			});
		});
	});
</script>

<style>
	.page-header { margin-bottom: 2rem; border-bottom: 1px solid rgba(61,43,107,0.12); padding-bottom: 2rem; }
	.lead { font-size: 1.15rem; color: var(--color-muted); margin: 0; }

	.filtros { display: flex; gap: 0.5rem; flex-wrap: wrap; margin-bottom: 2.5rem; }
	.filtro-btn {
		padding: 0.4rem 1.2rem;
		border: 1.5px solid rgba(61,43,107,0.25);
		border-radius: 20px;
		background: white;
		color: var(--color-text);
		font-family: var(--font-body);
		font-size: 0.9rem;
		cursor: pointer;
		transition: all 0.2s;
	}
	.filtro-btn:hover, .filtro-btn.active {
		background: var(--color-primary);
		border-color: var(--color-primary);
		color: white;
	}

	.books-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
		gap: 2rem;
	}
	.book-card {
		background: white;
		border-radius: 8px;
		overflow: hidden;
		box-shadow: var(--box-shadow);
		transition: transform 0.2s, box-shadow 0.2s;
	}
	.book-card:hover { transform: translateY(-4px); box-shadow: 0 8px 24px rgba(61,43,107,0.18); }
	.cover-link { display: block; }
	.book-cover { width: 100%; aspect-ratio: 2/3; object-fit: cover; }
	.book-cover-placeholder {
		width: 100%; aspect-ratio: 2/3;
		background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
		display: flex; align-items: center; justify-content: center;
	}
	.book-cover-placeholder span { font-family: var(--font-heading); font-size: 4rem; color: rgba(255,255,255,0.2); }
	.book-info { padding: 1rem; }
	.book-genre { font-size: 0.7rem; text-transform: uppercase; letter-spacing: 0.1em; color: var(--color-accent); font-weight: 700; }
	.book-title { font-size: 1rem; margin: 0.2rem 0; color: var(--color-primary); }
	.book-author { color: var(--color-secondary); font-size: 0.85rem; font-weight: 600; margin: 0 0 0.1rem; }
	.book-year { color: var(--color-muted); font-size: 0.8rem; margin: 0 0 0.75rem; }
	.btn-amazon { font-size: 0.8rem; font-weight: 600; color: var(--color-secondary); }
	.btn-amazon:hover { color: var(--color-accent); }
</style>
