---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const A = "https://www.amazon.ca/dp/";
const libros = [
	// 2025-2026
	{ title: "El discurso de José Martí", author: "Roberto Manzano", year: 2026, genre: "Poesía", amazonUrl: A+"2925446604", cover: null },
	{ title: "Germen", author: "Grechent Ledesma Torres", year: 2025, genre: "Poesía", amazonUrl: A+"2925446949", cover: "/images/portadas-ok/germen.jpg" },
	{ title: "Cuentos para Bárbara", author: "Reyna Esperanza Cruz", year: 2025, genre: "Narrativa", amazonUrl: A+"2925446329", cover: "/images/portadas-ok/cuentos-barbara.jpg" },
	{ title: "Luciérnagas en el puente", author: "Martha Rosa Fernández", year: 2025, genre: "Poesía", amazonUrl: A+"B0G5N9JXQ8", cover: "/images/portadas-ok/luciernagas-puente.jpg" },
	{ title: "Sombras del silencio", author: "Irasema Cruz", year: 2025, genre: "Poesía", amazonUrl: A+"2925446825", cover: "/images/portadas-ok/sombras-silencio.jpg" },
	{ title: "Clásicas y contemporáneos", author: "Alondra Badano", year: 2025, genre: "Ensayo", amazonUrl: A+"B0FVMVK8BC", cover: "/images/portadas-ok/clasicas-contemporaneos.jpg" },
	{ title: "Central Patria", author: "Ronel González Sánchez", year: 2025, genre: "Poesía", amazonUrl: A+"B0FWZHBXXP", cover: "/images/portadas-ok/central-patria.jpg" },
	{ title: "(E)videncias", author: "Ivelisse Machín Torres", year: 2025, genre: "Poesía", amazonUrl: A+"292544654X", cover: "/images/portadas-ok/evidencias.jpg" },
	{ title: "El libro de todas las lunas", author: "Lidia Meriño", year: 2025, genre: "Poesía", amazonUrl: A+"2925446744", cover: "/images/portadas-ok/libro-todas-lunas.jpg" },
	{ title: "Angustia del cernidor", author: "Jesús Arencibia", year: 2025, genre: "Poesía", amazonUrl: A+"B0FVLW3T1M", cover: "/images/portadas-ok/angustia-cernidor.jpg" },
	{ title: "Presagios", author: "Raudel Sosa Pérez", year: 2025, genre: "Poesía", amazonUrl: A+"B0FVDZYCF5", cover: "/images/portadas-ok/presagios.jpg" },
	{ title: "Otra vez perdida", author: "Yaniry Fariñas García", year: 2025, genre: "Poesía", amazonUrl: A+"B0FVF1FS7H", cover: "/images/portadas-ok/otra-vez-perdida.jpg" },
	{ title: "El libro de las mareas", author: "Reyna Cruz", year: 2025, genre: "Poesía", amazonUrl: A+"2925446981", cover: null },
	{ title: "Mujeres rotas", author: "Ana Luna", year: 2025, genre: "Narrativa", amazonUrl: A+"292544640X", cover: "/images/portadas-ok/mujeres-rotas.jpg" },
	{ title: "Los ojos del silencio", author: "Pepe Sánchez", year: 2025, genre: "Poesía", amazonUrl: A+"2925446663", cover: "/images/portadas-ok/ojos-silencio.jpg" },
	// 2024
	{ title: "Los guijarros parlantes", author: "Camila Reimers", year: 2024, genre: "Narrativa", amazonUrl: A+"2925446388", cover: "/images/portadas-ok/guijarros-parlantes.jpg" },
	{ title: "Fugacidad es todo lo que tengo", author: "Lídice Megla", year: 2024, genre: "Poesía", amazonUrl: A+"2925446426", cover: "/images/portadas-ok/fugacidad.jpg" },
	{ title: "El libro del olvido", author: "Ada Zayas Bazán", year: 2024, genre: "Poesía", amazonUrl: A+"2925446469", cover: null },
	{ title: "Peripecias", author: "Liliana Pinedo González", year: 2024, genre: "Poesía", amazonUrl: A+"2925446485", cover: "/images/portadas-ok/peripecias.jpg" },
	{ title: "Un instante para ti", author: "Milvia Patiño", year: 2024, genre: "Poesía", amazonUrl: A+"2925446647", cover: "/images/portadas-ok/un-instante-para-ti.jpg" },
	{ title: "Tablillas de barro III", author: "Roberto Manzano", year: 2024, genre: "Poesía", amazonUrl: A+"2925446442", cover: null },
	{ title: "Los estribos profundos", author: "Roberto Manzano", year: 2024, genre: "Poesía", amazonUrl: A+"2925446620", cover: null },
	{ title: "Intersticios", author: "Liliana Pinedo González", year: 2024, genre: "Poesía", amazonUrl: A+"2925446264", cover: null },
	{ title: "El río de la vida", author: "Reyna Cruz", year: 2024, genre: "Poesía", amazonUrl: A+"2925446361", cover: null },
	{ title: "Romanza de los montes florecidos", author: "Reyna Cruz", year: 2024, genre: "Poesía", amazonUrl: A+"2925446051", cover: null },
	{ title: "Las extrañas frutas", author: "Reyna Cruz", year: 2024, genre: "Poesía", amazonUrl: A+"2925446221", cover: "/images/portadas-ok/extranas-frutas.jpg" },
	{ title: "El discurso de la Madre Tierra", author: "Roberto Manzano", year: 2024, genre: "Poesía", amazonUrl: A+"2925446345", cover: null },
	{ title: "Mutatis Mutandis", author: "Aura González Beitia", year: 2024, genre: "Poesía", amazonUrl: A+"2925446248", cover: "/images/portadas-ok/mutatis-mutandis.jpg" },
	{ title: "La humana sombra del pez", author: "Tomás Escobar", year: 2024, genre: "Poesía", amazonUrl: A+"2925446183", cover: "/images/portadas-ok/humana-sombra-pez.jpg" },
	{ title: "Saldar la deuda", author: "Carmen Amelia del Cristo", year: 2024, genre: "Poesía", amazonUrl: A+"2925446205", cover: null },
	{ title: "Un país con dos reinas", author: "Reyna Esperanza Cruz", year: 2024, genre: "Poesía", amazonUrl: A+"2925446302", cover: "/images/portadas-ok/un-pais-dos-reinas.jpg" },
	{ title: "El reloj y la sombra", author: "Margarita Padrón", year: 2024, genre: "Poesía", amazonUrl: A+"2925446019", cover: null },
	{ title: "La flecha y el infinito", author: "Roberto Manzano", year: 2024, genre: "Poesía", amazonUrl: A+"2925446140", cover: "/images/portadas-ok/flecha-infinito.jpg" },
	{ title: "Pasando por un trillo", author: "Roberto Manzano", year: 2024, genre: "Poesía", amazonUrl: A+"2925446280", cover: "/images/portadas-ok/pasando-trillo.jpg" },
	{ title: "Eurekíada", author: "Roberto Manzano", year: 2024, genre: "Poesía", amazonUrl: A+"2925446078", cover: "/images/portadas-ok/eurekiada.jpg" },
	{ title: "Esperando la ventisca", author: "Alondra Badano", year: 2024, genre: "Poesía", amazonUrl: A+"2925446167", cover: "/images/portadas-ok/esperando-ventisca.jpg" },
	{ title: "Con grandes ojos de animal desnudo", author: "Moisés Pascual", year: 2024, genre: "Poesía", amazonUrl: A+"2925321623", cover: "/images/portadas-ok/con-grandes-ojos.jpg" },
	{ title: "La melancolía del samurái", author: "Rafael Carballosa Batista", year: 2025, genre: "Poesía", amazonUrl: A+"2925446868", cover: "/images/portadas-ok/melancolia-samurai.jpg" },
	{ title: "Carpincho y otros cuentos", author: "Milvia Patiño", year: 2025, genre: "Narrativa", amazonUrl: A+"2925446906", cover: "/images/portadas-ok/carpincho.jpg" },
	{ title: "The Talking Stones", author: "Camila Reimers", year: 2025, genre: "Narrativa", amazonUrl: A+"2925446884", cover: null },
	// 2025 cont.
	{ title: "aspersores", author: "Luis Yuseff", year: 2025, genre: "Poesía", amazonUrl: A+"2925446760", cover: "/images/portadas-ok/aspersores-Luis Yuseff-cubierta.jpg" },
	{ title: "Dolor de la resurrección", author: "Luis Yuseff", year: 2025, genre: "Poesía", amazonUrl: A+"2925446787", cover: "/images/portadas-ok/dolor-resurreccion.jpg" },
	{ title: "Sonetos del bosque", author: "Roger Blanco Morciego", year: 2025, genre: "Poesía", amazonUrl: A+"2925446841", cover: "/images/portadas-ok/sonetos-bosque.jpg" },
	{ title: "Azules del cianómetro", author: "Laura Rojo", year: 2025, genre: "Poesía", amazonUrl: A+"2925446728", cover: "/images/portadas-ok/azules-cianometro.jpg" },
	{ title: "El último castrado", author: "Eduardo Pino", year: 2025, genre: "Narrativa", amazonUrl: A+"2925446566", cover: "/images/portadas-ok/ultimo-castrado.jpg" },
	{ title: "Fogatas en el cielo", author: "Alcides Fuentes", year: 2025, genre: "Poesía", amazonUrl: A+"292544668X", cover: null },
	{ title: "Declaración de las piedras", author: "Jorge Gufer", year: 2025, genre: "Poesía", amazonUrl: A+"2925446965", cover: null },
	{ title: "Es raro ser yo", author: "Carlos Ettiel", year: 2025, genre: "Narrativa", amazonUrl: A+"2925446922", cover: null },
	{ title: "Los peces distraídos", author: "Jorge Luis Peña", year: 2025, genre: "Narrativa", amazonUrl: A+"2925446701", cover: "/images/portadas-ok/peces-distraidos.jpg" },
	// 2023
	{ title: "Frascuelo, el perro fiero", author: "Guillermo Núñez Llana", year: 2023, genre: "Narrativa", amazonUrl: A+"2925321208", cover: "/images/portadas-ok/frascuelo.jpg" },
	{ title: "El fulgor de las páginas", author: "Cristálida Ediciones", year: 2024, genre: "Ensayo", amazonUrl: "", cover: "/images/portadas-ok/fulgor.png" },
	{ title: "Canto a la sabana", author: "Roberto Manzano", year: 2023, genre: "Poesía", amazonUrl: A+"2925321038", cover: "/images/portadas-ok/canto-sabana.jpg" },
	{ title: "Synergos", author: "Roberto Manzano", year: 2023, genre: "Poesía", amazonUrl: A+"2925321739", cover: "/images/portadas-ok/synergos.jpg" },
	{ title: "El libro de los discursos", author: "Roberto Manzano", year: 2023, genre: "Poesía", amazonUrl: A+"2925321755", cover: null },
	{ title: "Ergonomía artística", author: "Roberto Manzano", year: 2023, genre: "Ensayo", amazonUrl: A+"2925321712", cover: null },
	{ title: "Las coplas del juntador", author: "Roberto Manzano", year: 2024, genre: "Poesía", amazonUrl: A+"2925321453", cover: null },
	{ title: "Juegos de tierra y mar", author: "Reyna Esperanza Cruz", year: 2023, genre: "Poesía", amazonUrl: A+"2925321410", cover: "/images/portadas-ok/juegos-tierra-mar.jpg" },
	{ title: "Reminiscencias", author: "Ivelisse Machín Torres", year: 2023, genre: "Poesía", amazonUrl: A+"2925321275", cover: "/images/portadas-ok/reminiscencias.jpg" },
	{ title: "Espacios rotos", author: "Lisandra Navas", year: 2023, genre: "Poesía", amazonUrl: A+"2925321542", cover: "/images/portadas-ok/espacios-rotos.jpg" },
	{ title: "Contar los golpes", author: "Raúl Aguiar", year: 2023, genre: "Narrativa", amazonUrl: A+"2925321569", cover: "/images/portadas-ok/contar-golpes.jpg" },
	{ title: "Sentada sobre el miedo de correr", author: "Reyna Esperanza Cruz", year: 2022, genre: "Poesía", amazonUrl: A+"2925321070", cover: null },
	{ title: "Sermón de pájaros", author: "Adalgiza Charria Quinte", year: 2023, genre: "Poesía", amazonUrl: A+"292532147X", cover: "/images/portadas-ok/sermon-pajaros.jpg" },
	{ title: "Una marea más alta", author: "Mar Silva", year: 2023, genre: "Poesía", amazonUrl: A+"B0CKK6T2RJ", cover: "/images/portadas-ok/marea-alta.jpg" },
	{ title: "Chroniques du quotidien", author: "Ana Luna", year: 2023, genre: "Narrativa", amazonUrl: A+"2925321496", cover: null },
	{ title: "Apasanka", author: "Camila Reimers", year: 2023, genre: "Narrativa", amazonUrl: A+"2925321879", cover: "/images/portadas-ok/apasanka.jpg" },
	{ title: "Decantaciones", author: "Herbert Toranzo", year: 2023, genre: "Poesía", amazonUrl: A+"2925321526", cover: "/images/portadas-ok/decantaciones.jpg" },
	{ title: "Efectos secundarios", author: "Leymen Pérez", year: 2023, genre: "Poesía", amazonUrl: A+"2925321313", cover: "/images/portadas-ok/efectos-secundarios.jpg" },
	{ title: "Alforja de la vida", author: "Zoila Portuondo Guerra", year: 2023, genre: "Poesía", amazonUrl: A+"292532164X", cover: null },
	{ title: "Lluvia con bestia y caracola", author: "Liudys Carmona Calaña", year: 2023, genre: "Poesía", amazonUrl: A+"2925321585", cover: "/images/portadas-ok/lluvia-bestia-caracola.jpg" },
	{ title: "La piedra de Sísifo", author: "Roberto Manzano", year: 2023, genre: "Poesía", amazonUrl: A+"2925321054", cover: null },
	{ title: "Estación ajena", author: "Aurora de Celia", year: 2023, genre: "Infantil", amazonUrl: A+"2925321607", cover: null },
	{ title: "Los puentes de la noche", author: "María Iluminada González", year: 2023, genre: "Poesía", amazonUrl: A+"2925321291", cover: null },
	{ title: "El libro de las extrañas densidades", author: "Lionel Valdivia Aguiar", year: 2023, genre: "Poesía", amazonUrl: A+"2925321372", cover: "/images/portadas-ok/libro-extranas-densidades.jpg" },
	{ title: "El trigo y la cizaña", author: "Jesús Lozada Guevara", year: 2023, genre: "Ensayo", amazonUrl: A+"292532133X", cover: "/images/portadas-ok/trigo-cizana.jpg" },
	{ title: "El racimo y la estrella", author: "Roberto Manzano", year: 2023, genre: "Poesía", amazonUrl: A+"2925321771", cover: "/images/portadas-ok/racimo-estrella.jpg" },
	{ title: "Prólogos no solicitados", author: "Daniel Céspedes Góngora", year: 2023, genre: "Ensayo", amazonUrl: A+"2925321690", cover: null },
	{ title: "La sílaba erótica", author: "Déborah Wizel", year: 2024, genre: "Poesía", amazonUrl: A+"2925321917", cover: "/images/portadas-ok/silaba-erotica.jpg" },
	{ title: "Este hombre que me invento", author: "Benita López Peñate", year: 2023, genre: "Poesía", amazonUrl: A+"2925321674", cover: null },
	{ title: "Nueve enigmas y un laudo", author: "Liliana Pinedo González", year: 2024, genre: "Poesía", amazonUrl: A+"2925446035", cover: "/images/portadas-ok/nueve-enigmas.jpg" },
	{ title: "Policromía", author: "Aura González Beitia", year: 2024, genre: "Poesía", amazonUrl: A+"2925321992", cover: null },
	{ title: "Adèla et le pouvoir", author: "Ana Luna", year: 2023, genre: "Narrativa", amazonUrl: A+"2925321836", cover: "/images/portadas-ok/adela-poder.png" },
	{ title: "Totalidad del aliento", author: "Valentín García Fernández", year: 2024, genre: "Poesía", amazonUrl: A+"2925321933", cover: null },
	{ title: "Nudos de brea", author: "Ana Anguizola Núñez", year: 2024, genre: "Poesía", amazonUrl: A+"2925446124", cover: "/images/portadas-ok/nudos-brea.jpg" },
	{ title: "Tablillas de barro II", author: "Roberto Manzano", year: 2024, genre: "Poesía", amazonUrl: A+"292532181X", cover: null },
	{ title: "Tablillas de barro 1", author: "Roberto Manzano", year: 2024, genre: "Poesía", amazonUrl: A+"2925321798", cover: null },
	// 2022
	{ title: "(Des)equilibrios y una cuerda para asirse", author: "Yanelys Encinosa Cabrera", year: 2022, genre: "Poesía", amazonUrl: A+"2925321011", cover: null },
	{ title: "En plena oscilación de la balanza", author: "Reyna Esperanza Cruz", year: 2022, genre: "Poesía", amazonUrl: A+"B09SP1G52G", cover: null },
	{ title: "Siete golpes en la mesa", author: "Sergio García Zamora", year: 2022, genre: "Poesía", amazonUrl: A+"B0BHL2XFCY", cover: "/images/portadas-ok/siete-golpes.jpg" },
	{ title: "Nubes sobre un techo escarlata", author: "Julián Marcel", year: 2022, genre: "Poesía", amazonUrl: A+"B0BGNMQ4T9", cover: null },
	{ title: "Sicomoro que arde como un astro", author: "Odalys Interián", year: 2022, genre: "Poesía", amazonUrl: A+"B0BFDZDVKJ", cover: "/images/portadas-ok/sicomoro.jpg" },
	{ title: "Caída libre", author: "Aldo Sánchez Herrera", year: 2022, genre: "Poesía", amazonUrl: A+"2925321100", cover: "/images/portadas-ok/caida-libre.jpg" },
	{ title: "Edificio Cuba", author: "Arístides Vega Chapú", year: 2022, genre: "Poesía", amazonUrl: A+"2925321143", cover: "/images/portadas-ok/edificio-cuba.jpg" },
	{ title: "Tu roto olor de feria encaminada", author: "Pedro Péglez González", year: 2022, genre: "Poesía", amazonUrl: A+"292532116X", cover: null },
	{ title: "Indagación de la sombra", author: "Yandrey Lay", year: 2022, genre: "Ensayo", amazonUrl: A+"2925321003", cover: null },
	{ title: "Música de fondo", author: "Carmen Amelia del Cristo", year: 2022, genre: "Poesía", amazonUrl: A+"B09ZDZT248", cover: null },
	{ title: "Sola como avara sobre su montaña de oro", author: "María Liliana Celorrio", year: 2022, genre: "Poesía", amazonUrl: A+"B09WLDQB2J", cover: null },
	{ title: "Valor de uso", author: "Ediel Pérez Noguera", year: 2023, genre: "Poesía", amazonUrl: A+"2925321240", cover: "/images/portadas-ok/valor-de-uso.jpg" },
	{ title: "Averías", author: "Armando López Carralero", year: 2023, genre: "Poesía", amazonUrl: A+"2925321186", cover: null },
	{ title: "Palabra por decir", author: "Heriberto Machado Galiana", year: 2023, genre: "Poesía", amazonUrl: A+"2925321224", cover: null },
	{ title: "Aturdido por la sal", author: "Efraín Riverón Argüelles", year: 2023, genre: "Poesía", amazonUrl: A+"2925321437", cover: "/images/portadas-ok/aturdido-sal.jpg" },
	{ title: "Evocación de la vida", author: "Arístides Vega Chapú", year: 2023, genre: "Narrativa", amazonUrl: A+"2925321127", cover: null },
	{ title: "Poemas desobedientes", author: "David Robinson", year: 2023, genre: "Poesía", amazonUrl: A+"2925321976", cover: "/images/portadas-ok/poemas-desobedientes.jpg" },
	// Antes de 2022
	{ title: "Canciones eslavas", author: "Jesús Lozada Guevara", year: 2022, genre: "Poesía", amazonUrl: A+"B09XZMCNGW", cover: null },
	{ title: "La campana en el abismo", author: "Roberto Manzano", year: 2022, genre: "Poesía", amazonUrl: A+"B09SXGPC7V", cover: null },
	{ title: "El hombre cotidiano", author: "Roberto Manzano", year: 2022, genre: "Poesía", amazonUrl: A+"B09TDSFXY9", cover: null },
	{ title: "Rapsodia de vivir", author: "Roberto Manzano", year: 2022, genre: "Poesía", amazonUrl: A+"B09WLYKM3H", cover: null },
	{ title: "Defensa de la poesía", author: "Roberto Manzano", year: 2022, genre: "Ensayo", amazonUrl: A+"B09YVJRJTS", cover: null },
	{ title: "Pensamientos libres", author: "Roberto Manzano", year: 2021, genre: "Ensayo", amazonUrl: A+"B09PKDLK2T", cover: null },
	{ title: "La hilacha y otras transfiguraciones", author: "Roberto Manzano", year: 2022, genre: "Poesía", amazonUrl: A+"B09TMYWDJ2", cover: null },
	{ title: "Puerta al camino", author: "Roberto Manzano", year: 2022, genre: "Poesía", amazonUrl: A+"B09XRS5KX4", cover: null },
	{ title: "Lo que escriben mis ojos", author: "Benita López Peñate", year: 2022, genre: "Poesía", amazonUrl: A+"B09XJQ9J52", cover: null },
	{ title: "Crónicas domésticas", author: "Ana Núñez González", year: 2022, genre: "Narrativa", amazonUrl: A+"B09S5ZNBM8", cover: null },
	{ title: "Eternizar el instante", author: "Roberto Manzano", year: 2023, genre: "Poesía", amazonUrl: A+"B0BV43M8TD", cover: null },
	{ title: "Agenda perpetua", author: "Cristálida Ediciones", year: 2023, genre: "Ensayo", amazonUrl: A+"B0C1JD7977", cover: null },
].sort((a, b) => b.year - a.year);

const generos = ["Todos", "Poesía", "Narrativa", "Ensayo", "Infantil"];
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title="Catálogo — Cristálida Ediciones" description="Todos los libros publicados por Cristálida Ediciones. Poesía, narrativa, ensayo e infantil." />
	</head>
	<body>
		<Header />
		<main>
			<div class="page-header">
				<h1>Catálogo</h1>
				<p class="lead">Todos los títulos publicados por Cristálida Ediciones.</p>
			</div>

			<!-- Filtro por género -->
			<div class="filtros" id="filtros">
				{generos.map(g => (
					<button class={`filtro-btn ${g === 'Todos' ? 'active' : ''}`} data-genre={g}>{g}</button>
				))}
			</div>

			<!-- Grid de libros -->
			<div class="books-grid" id="books-grid">
				{libros.map(libro => (
					<article
						class="book-card"
						data-genre={libro.genre}
						itemscope
						itemtype="https://schema.org/Book"
					>
						<meta itemprop="name" content={libro.title} />
						<meta itemprop="author" content={libro.author} />
						<meta itemprop="datePublished" content={String(libro.year)} />
						<meta itemprop="genre" content={libro.genre} />
						{libro.amazonUrl !== '#' && <link itemprop="url" href={libro.amazonUrl} />}

						<a href={libro.amazonUrl} target="_blank" rel="noopener" class="cover-link">
							{libro.cover
								? <img src={libro.cover} alt={`Portada de ${libro.title}`} class="book-cover" itemprop="image" />
								: <div class="book-cover-placeholder"><span>{libro.title[0]}</span></div>
							}
						</a>
						<div class="book-info">
							<span class="book-genre">{libro.genre}</span>
							<h2 class="book-title" itemprop="name">{libro.title}</h2>
							<p class="book-author" itemprop="author">{libro.author}</p>
							<p class="book-year">{libro.year}</p>
							{libro.amazonUrl !== '#' && (
								<a href={libro.amazonUrl} target="_blank" rel="noopener" class="btn-amazon">
									Comprar en Amazon →
								</a>
							)}
						</div>
					</article>
				))}
			</div>
		</main>
		<Footer />
	</body>
</html>

<script>
	const btns = document.querySelectorAll<HTMLButtonElement>('.filtro-btn');
	const cards = document.querySelectorAll<HTMLElement>('.book-card');

	btns.forEach(btn => {
		btn.addEventListener('click', () => {
			btns.forEach(b => b.classList.remove('active'));
			btn.classList.add('active');
			const genre = btn.dataset.genre;
			cards.forEach(card => {
				const show = genre === 'Todos' || card.dataset.genre === genre;
				card.style.display = show ? '' : 'none';
			});
		});
	});
</script>

<style>
	.page-header { margin-bottom: 2rem; border-bottom: 1px solid rgba(61,43,107,0.12); padding-bottom: 2rem; }
	.lead { font-size: 1.15rem; color: var(--color-muted); margin: 0; }

	.filtros { display: flex; gap: 0.5rem; flex-wrap: wrap; margin-bottom: 2.5rem; }
	.filtro-btn {
		padding: 0.4rem 1.2rem;
		border: 1.5px solid rgba(61,43,107,0.25);
		border-radius: 20px;
		background: white;
		color: var(--color-text);
		font-family: var(--font-body);
		font-size: 0.9rem;
		cursor: pointer;
		transition: all 0.2s;
	}
	.filtro-btn:hover, .filtro-btn.active {
		background: var(--color-primary);
		border-color: var(--color-primary);
		color: white;
	}

	.books-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
		gap: 2rem;
	}
	.book-card {
		background: white;
		border-radius: 8px;
		overflow: hidden;
		box-shadow: var(--box-shadow);
		transition: transform 0.2s, box-shadow 0.2s;
	}
	.book-card:hover { transform: translateY(-4px); box-shadow: 0 8px 24px rgba(61,43,107,0.18); }
	.cover-link { display: block; }
	.book-cover { width: 100%; aspect-ratio: 2/3; object-fit: cover; }
	.book-cover-placeholder {
		width: 100%; aspect-ratio: 2/3;
		background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
		display: flex; align-items: center; justify-content: center;
	}
	.book-cover-placeholder span { font-family: var(--font-heading); font-size: 4rem; color: rgba(255,255,255,0.2); }
	.book-info { padding: 1rem; }
	.book-genre { font-size: 0.7rem; text-transform: uppercase; letter-spacing: 0.1em; color: var(--color-accent); font-weight: 700; }
	.book-title { font-size: 1rem; margin: 0.2rem 0; color: var(--color-primary); }
	.book-author { color: var(--color-secondary); font-size: 0.85rem; font-weight: 600; margin: 0 0 0.1rem; }
	.book-year { color: var(--color-muted); font-size: 0.8rem; margin: 0 0 0.75rem; }
	.btn-amazon { font-size: 0.8rem; font-weight: 600; color: var(--color-secondary); }
	.btn-amazon:hover { color: var(--color-accent); }
</style>
